@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Aimo!</h1>
    <p>Aimo! is a web app made my TIF3. This is placeholder text, yea--</p>
</div>

